In [29]:
import pandas as pd
import numpy as np

In [214]:
df = pd.read_csv('../nss_capstone/df.csv').drop(columns = 'Unnamed: 0')

In [215]:
df['Total Difference'] = df['Open Total'] - df['Close Total']
df['Spread Difference'] = df['Open Spread'] - df['Close Spread']

In [216]:
df.replace(0.0, np.nan, inplace=True)

In [217]:
df['Open Spread'] = df.groupby('game_id')['Open Spread'].transform(lambda x: x.ffill().bfill().iloc[0] if x.notnull().any() else np.nan)
df['Close Spread'] = df.groupby('game_id')['Close Spread'].transform(lambda x: x.ffill().bfill().iloc[0] if x.notnull().any() else np.nan)

In [218]:
df['Open Total'].fillna(df.groupby('game_id')['Open Total'].transform('max'), inplace=True)
df['Close Total'].fillna(df.groupby('game_id')['Close Total'].transform('max'), inplace=True)

In [219]:
df.loc[df['ML'] > 0, ['Open Spread', 'Close Spread']] = '+' + df[['Open Spread', 'Close Spread']].astype(str)

In [220]:
df[['Open Spread', 'Close Spread']].head(4)

  Open Spread Close Spread
0         2.5          4.0
1        +2.5         +4.0
2         3.5          4.0
3        +3.5         +4.0

In [221]:
df = df.fillna(0)

In [227]:
# # df['Spread Difference'].replace(0.0, '', inplace = True)
# # df['Total Difference'].replace(0.0, '', inplace = True)
# # df['Score_Diff'].replace(0.0, '', inplace = True)

# df['W/L_bool'].replace(0.0, 0, inplace=True)
# df['W/L_bool'].replace(1.0, 1, inplace=True)
# df['first_half'].replace(0.0, 0, inplace=True)
# df['first_half'].replace(1.0, 1, inplace=True)
# df['ATS'].replace(0.0, 0, inplace=True)
# df['ATS'].replace(1.0, 1, inplace=True)
# df['Push'].replace(0.0, 0, inplace=True)
# df['Push'].replace(1.0, 1, inplace=True)

In [231]:
df_fin = df

df_fin.to_csv('../nss_capstone/df_fin.csv')

In [40]:
df[['game_id','Date','Team', 'ML', 'Close Total', 'Close Spread']].head(6)

   game_id        Date          Team     ML  Close Total  Close Spread
0        1  2022-06-16        Boston -175.0          0.0           4.0
1        1  2022-06-16  Golden State  155.0        211.5           0.0
2        2  2022-06-13  Golden State -165.0          0.0           4.0
3        2  2022-06-13        Boston  145.0        211.0           0.0
4        3  2022-06-10        Boston -165.0          0.0           4.0
5        3  2022-06-10   GoldenState  145.0        213.5           0.0

In [34]:
df['Open Total'].fillna(df.groupby('game_id')['Open Total'].transform(lambda x: x.replace(0.0, np.nan).max()), inplace=True)
df['Close Total'].fillna(df.groupby('game_id')['Close Total'].transform(lambda x: x.replace(0.0, np.nan).max()), inplace=True)

In [41]:
df['Open Total'].fillna(df.groupby('game_id')['Open Total'].transform('max'), inplace=True)
df['Close Total'].fillna(df.groupby('game_id')['Close Total'].transform('max'), inplace=True)

In [413]:
df_fin = pd.read_csv('../nss_capstone/df_fin.csv').fillna('').drop(columns = 'Unnamed: 0')

In [414]:
df_fin

,game_id,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,...,Open Spread,Close Spread,W/L,W/L_bool,first_half,Score_Diff,ATS,Push,Total Difference,Spread Difference
0,1,2022-06-16,528,H,Boston,22,17,27,24,90,...,2.5,4.0,L,0.0,0.0,-13.0,0.0,0.0,,-1.5
1,1,2022-06-16,527,V,Golden State,27,27,22,27,103,...,+2.5,+4.0,W,1.0,1.0,,0.0,0.0,1.0,
2,2,2022-06-13,526,H,Golden State,27,24,24,29,104,...,3.5,4.0,W,1.0,1.0,10.0,1.0,0.0,,-0.5
3,2,2022-06-13,525,V,Boston,16,23,35,20,94,...,+3.5,+4.0,L,0.0,0.0,,0.0,0.0,1.5,
4,3,2022-06-10,524,H,Boston,28,26,24,19,97,...,2.5,4.0,L,0.0,1.0,-10.0,0.0,0.0,,-1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35969,17985,2007-10-30,505,V,Houston,16,27,27,25,95,...,2.5,5.0,W,1.0,0.0,2.0,0.0,0.0,,-2.5
35970,17986,2007-10-30,504,H,GoldenState,30,21,21,24,96,...,3.0,1.0,L,0.0,0.0,-21.0,0.0,0.0,,2.0
35971,17986,2007-10-30,503,V,Utah,28,34,24,31,117,...,+3.0,+1.0,W,1.0,1.0,,0.0,0.0,2.5,
35972,17987,2007-10-30,502,H,SanAntonio,29,30,22,25,106,...,12.5,13.0,W,1.0,1.0,9.0,0.0,0.0,,-0.5
35973,17987,2007-10-30,501,V,Portland,26,23,28,20,97,...,+12.5,+13.0,L,0.0,0.0,,0.0,0.0,-5.5,

In [415]:
df_fin_group.count() * 2

35974

In [416]:
df_fin['Open Spread'] = pd.to_numeric(df_fin['Open Spread'], errors='coerce')
df_fin['Close Spread'] = pd.to_numeric(df_fin['Close Spread'], errors='coerce')
df_fin['ML'] = pd.to_numeric(df_fin['ML'], errors='coerce')

# Select rows based on conditions and duplication
df_fin_dup_line = df_fin[(df_fin['ML'] < 0) &
                               (df_fin['Open Spread'] > 0) &
                               (df_fin['Close Spread'] > 0) &
                               df_fin.duplicated(['ML', 'Open Spread', 'Close Spread'], keep=False)]

In [417]:
df_fin_dup_line

,game_id,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,...,Open Spread,Close Spread,W/L,W/L_bool,first_half,Score_Diff,ATS,Push,Total Difference,Spread Difference
0,1,2022-06-16,528,H,Boston,22,17,27,24,90,...,2.5,4.0,L,0.0,0.0,-13.0,0.0,0.0,,-1.5
2,2,2022-06-13,526,H,Golden State,27,24,24,29,104,...,3.5,4.0,W,1.0,1.0,10.0,1.0,0.0,,-0.5
4,3,2022-06-10,524,H,Boston,28,26,24,19,97,...,2.5,4.0,L,0.0,1.0,-10.0,0.0,0.0,,-1.5
6,4,2022-06-08,522,H,Boston,33,35,25,23,116,...,2.5,3.5,W,1.0,1.0,16.0,1.0,0.0,,-1.0
8,5,2022-06-06,520,H,GoldenState,31,21,35,20,107,...,3.5,5.0,W,1.0,1.0,19.0,1.0,0.0,,-1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35962,17982,2007-10-31,706,H,Orlando,24,24,35,19,102,...,8.0,6.5,W,1.0,1.0,19.0,1.0,0.0,,1.5
35965,17983,2007-10-31,703,V,Washington,23,22,25,33,110,...,1.5,1.5,L,0.0,0.0,-9.0,0.0,0.0,200.0,-1.5
35969,17985,2007-10-30,505,V,Houston,16,27,27,25,95,...,2.5,5.0,W,1.0,0.0,2.0,0.0,0.0,,-2.5
35970,17986,2007-10-30,504,H,GoldenState,30,21,21,24,96,...,3.0,1.0,L,0.0,0.0,-21.0,0.0,0.0,,2.0
35972,17987,2007-10-30,502,H,SanAntonio,29,30,22,25,106,...,12.5,13.0,W,1.0,1.0,9.0,0.0,0.0,,-0.5

In [425]:
df_fav_line = df_fin_dup_line.groupby(['ML', 'Open Spread', 'Close Spread']).agg(Count=('ML', 'size'), W_L_bool=('W/L_bool', 'sum'), ATS=('ATS', 'sum')).reset_index()

In [426]:
df_fav_line

          ML  Open Spread  Close Spread  Count  W_L_bool  ATS
0    -9900.0         17.5          17.0      2       2.0  1.0
1    -5000.0         15.0          16.5      2       2.0  2.0
2    -5000.0         16.0          16.0      2       2.0  0.0
3    -5000.0         16.0          17.0      2       2.0  0.0
4    -4000.0         15.0          16.5      2       2.0  1.0
...      ...          ...           ...    ...       ...  ...
1882  -102.0          1.5           1.0      2       1.0  0.0
1883  -102.0          1.5           1.5      4       3.0  1.0
1884  -102.0          2.0           1.0      3       2.0  0.0
1885  -101.0          1.0           1.0      4       0.0  0.0
1886  -101.0          2.0           1.0      2       2.0  0.0

[1887 rows x 6 columns]

In [429]:
df_line

          ML  Open Spread  Close Spread  Count  W_L_bool  ATS
0    -9900.0         17.5          17.0      2       2.0  1.0
1    -5000.0         15.0          16.5      2       2.0  2.0
2    -5000.0         16.0          16.0      2       2.0  0.0
3    -5000.0         16.0          17.0      2       2.0  0.0
4    -4000.0         15.0          16.5      2       2.0  1.0
...      ...          ...           ...    ...       ...  ...
1882  -102.0          1.5           1.0      2       1.0  0.0
1883  -102.0          1.5           1.5      4       3.0  1.0
1884  -102.0          2.0           1.0      3       2.0  0.0
1885  -101.0          1.0           1.0      4       0.0  0.0
1886  -101.0          2.0           1.0      2       2.0  0.0

[1887 rows x 6 columns]

In [430]:
df_line.to_csv('../nss_capstone/df_line.csv')

In [431]:
df_line = pd.read_csv('../nss_capstone/df_line.csv').drop(columns = 'Unnamed: 0')

In [432]:
df_line

          ML  Open Spread  Close Spread  Count  W_L_bool  ATS
0    -9900.0         17.5          17.0      2       2.0  1.0
1    -5000.0         15.0          16.5      2       2.0  2.0
2    -5000.0         16.0          16.0      2       2.0  0.0
3    -5000.0         16.0          17.0      2       2.0  0.0
4    -4000.0         15.0          16.5      2       2.0  1.0
...      ...          ...           ...    ...       ...  ...
1882  -102.0          1.5           1.0      2       1.0  0.0
1883  -102.0          1.5           1.5      4       3.0  1.0
1884  -102.0          2.0           1.0      3       2.0  0.0
1885  -101.0          1.0           1.0      4       0.0  0.0
1886  -101.0          2.0           1.0      2       2.0  0.0

[1887 rows x 6 columns]

In [433]:
df_line['Count'].nlargest(10)

1768    130
1794    111
1775    105
1797     90
1815     88
1772     81
1726     75
1683     73
1614     69
1799     68
Name: Count, dtype: int64

In [434]:
df_line.iloc[[1768]]

         ML  Open Spread  Close Spread  Count  W_L_bool   ATS
1768 -130.0          1.0           2.0    130      65.0  56.0

In [386]:
# result = df_line.loc[(df_line['ML'] == -130)  & (df_line['Open Spread'] == 1) &  (df_line['Close Spread'] == 2)]